.containerImage {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.image {
width: 100vw;
 height: 500px;
  object-fit: cover;
 
  }
//pour l'impression
@media print {
  .containerImage {
    height: auto;
  }
  .image {
    height: 160px;
    page-break-inside: avoid;
  }
}
