.containerImage {
    display: flex;
  justify-content: center;
  align-items: center;
  
}

.image {
 width: 100%;
  object-fit: contain;
 
  }
//pour l'impression
@media print {
  .containerImage {
    height: auto;
  }
  .image {
    height: auto;
    page-break-inside: avoid;
  }
}
