@import "../../style/responsive.scss";
.titleSection{
    display: flex;
    border: 2px solid black;
    gap: 10px;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
} 


  @media #{$small-down} {
    .titleSection {
        font-size: 13px;
        padding-top: 3px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 3px;
        margin-bottom: 0px;
    }
    .icon span{
       font-size: 15px;
    }
  }

  @media print {
    .titleSection {
      font-size: 13px;
      padding-top: 3px;
      padding-bottom: 0px;
      padding-left: 0px;
      margin-top: 3px;
      margin-bottom: 0px;
  }
  .icon span{
    font-size: 15px;
 }
  }