.dates{
    display: flex;
    border-radius: 30px;
    color: rgb(0, 217, 255);
    text-align: center;
    justify-content: center;
    padding: 5px;
    font-weight: bold;
    width: 200px;
    text-decoration: rgb(0, 217, 255) underline;
}