.containerNameImg{
    width: 100vw;
    position: absolute;
    top:0;
    display: flex;
   flex-direction: column;
   justify-content: center; 
   align-items: center;
   
}

.containerNameID{
    background-color: white;
    color: black;
     width: 80vw;
}