.containerNameImg{
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    display: flex;
   flex-direction: column;
   justify-content: center; 
  
   
}

.containerNameID{
    background-color: white;
    color: black;
     
}