
@import "../style/responsive.scss";

.containerBloc{
   background-color: white;
   position: relative;
   
 
   }
 .bloc1{
   display: grid;
   grid-template-columns: 3fr 5fr;
   grid-gap: 30px;
   grid-column: 2/4;
   grid-row: 3/1; 
 }  
 
 .bloc2{
display: flex;
flex-direction: column;
 }
.bloc4{
   display:grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 30px;
}

@media print {
 .containerCv{
  font-size: 12px;
 }
}