

.containerBloc{
   display: flex;
  justify-content: center;
  align-items: center;
   gap: 50px;
     background-color: white;
    position: absolute;
    top: 400px;
    left: 0;
    width: 100vw;
padding-bottom: 50px;
   }
.bloc1,.bloc2{
     width: 38vw;
   
  }
.bloc2{
   margin-top:-120px;
  //background-color: yellow;
}
// // .bloc1{
// //   background-color: red;
// // }
@media print {
   .containerBloc {
    font-size: 10px;
    top: 300px;
    gap: 10px;
   }
   .bloc2{
      margin-top:-115px
   }
 }