#date{
    background-color: rgb(0, 217, 255);
    border-radius: 30px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 200px;
    padding: 5px;
    font-weight: bold;
}